/* Grid lines and CRT effect */
.grid-lines {
    background-image: linear-gradient(to right, rgba(0, 255, 255, 0.4) 1px, transparent 0), linear-gradient(to bottom, rgba(0, 255, 255, 0.4) 1px, transparent 0);
    background-size: 4vh 3vh;
    background-repeat: repeat;
    transform-origin: 100% 0 0;
    animation: play 30s linear infinite;
    z-index: 0;
}

.crt {
    pointer-events: none;
}

.crt::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(18, 16, 16, .3);
    opacity: 0;
    z-index: 2;
    pointer-events: none;
    animation: flicker 0.15s infinite;
}

.crt::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 2;
    background-size: 100% 4px, 6px 100%;
}

/* Custom styles */
body {
    background-color: #000000; /* Black background */
    color: #0c9400; /* Neon cyan text */
    font-family: 'Digital-7', sans-serif; /* Digital style font */
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scrolling */
}

.main-wrapper {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo {
    width: 150px; /* Adjust size as needed */
    height: auto;
    margin-bottom: 20px;
    opacity: 0; /* Initial opacity set to 0 for fade-in animation */
    animation: fadeInLogo 2s forwards; /* Fade-in animation for logo */
}

.section {
    margin: 50px 0;
    text-align: center;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    padding: 20px 0;
    text-align: center;
}

footer p {
    margin: 0;
}

.discord-button {
    background-color: #27c001; /* Discord blue */
    color: #ffffff; /* White text */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    opacity: 0; /* Initial opacity set to 0 for fade-in animation */
    animation: fadeInButton 2s forwards; /* Fade-in animation for Discord button */
}

.discord-button:hover {
    background-color: #378f2f; /* Darker shade of Discord blue */
}

/* Typing animation */
#about-us {
    opacity: 0; /* Initial opacity set to 0 for fade-in animation */
    animation: fadeInText 2s forwards, typing 6s steps(40) forwards; /* Fade-in animation for About Us text and typing animation */
}

@keyframes fadeInLogo {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInButton {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInText {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
